<!DOCTYPE html>
<html>
    <head>
        {% include header.html %}
    </head>
    <body>
        <div class="container" ng-app="app" ng-controller="controller">
            {{ content }}
        </div>
        <span class="contact">
            Contact Us:
            <a target="_blank" href="https://devpost.com/software/universal-communication-system#updates">
                DevPost
            </a>
            or
            <a target="_blank" href="mailto:zachhackathon2016@gmail.com">
                Email
            </a>
        </span>
        <script>
            init();
        </script>
    </body>
</html>
